/*html {*/
    /*height: 100%;*/
/*}*/

/*body {*/
    /*height: 100%*/
/*}*/

/*#content {*/
    /*height: 80%;*/
/*}*/
body {
    background-color: #606F69;
}

.text-common {
    text-align: center;
    font-family: "League-Gothic", Courier, sans-serif;
    text-transform: uppercase;
    color: #222;
    text-shadow: 0 2px 3px #666;
}

.text-common-left .text-common {
    text-align: left !important;
}